<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <mat-tab [label]="mainTabLabel!">
    <ng-content class="tab-content-container"></ng-content>
  </mat-tab>
  <mat-tab *ngFor="let tab of this._tabsService.tabs | async;index as i">
    <ng-template mat-tab-label style="display: flex; align-content: space-between;">
      <span>{{tab.title}}</span>
      &nbsp;&nbsp;&nbsp;
      <button mat-icon-button (click)="this.closeTab(i)"><mat-icon>close</mat-icon></button>
    </ng-template>
    <ng-container class="tab-content-container" *ngComponentOutlet="
  tab.component;
  inputs: tab.inputs;
" />
  </mat-tab>
</mat-tab-group>
