<!-- Button to clear selection -->
<div class="container">
  <div class="btn-container">
    <button mat-button (click)="clearFilter()">Clear filter<mat-icon>filter_list_off</mat-icon></button>
    <button mat-button (click)="navigate_to_new_book()">New Book<mat-icon>add</mat-icon></button>
  </div>
  <div class="grid-container">
  <ag-grid-angular
    class="ag-theme-material"
    [gridOptions]="gridOptions"
    [rowData]="rowData$ | async"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
  </div>
</div>
<!-- AG Grid Angular Component -->

